
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="all">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta id="pdesc" name="description" content="">
    <meta name="keywords" content="写小说，作家学院，作家专区，原创文学，网络文学，网络小说，在线写作，作家助手，起点中文网，创世中文网，云起书院，起点女生网，起点文学网，阅文集团">
    <link rel="shortcut icon" type="image/x-icon" href="https://img1.write.qq.com/writer/p1/contentv2/aa_ico.ico"/>
    <title id="ptitle"></title>
    <!--<link rel="stylesheet" href="https://sta1.write.qq.com/writer/0803130612/css/authorcollege/common.css" rel="stylesheet" type="text/css"/>-->
    <!--<script src="https://sta1.write.qq.com/writer/0803130612/js/page/layout/jquery.min.js"></script>-->
    <!--<script src="https://sta1.write.qq.com/writer/0803130612/js/page/layout/jquery.carouFredSel-6.0.4-packed.js"></script>-->
    <!--<script src="https://sta1.write.qq.com/writer/0803130612/js/page/layout/effect.js"></script>-->
    <!-- @author author | @designer designer | @pm pm -->
    <meta name="__hash__" content="5222597359a445b5e385c6c10fb60016_f71a30f5ad2a9d89bbcd7e945c8c5679" /></head>
<script src="../js/common.js"></script>
<link rel="stylesheet" type="text/css" href="https://sta1.write.qq.com/writer/0803130612/css/merge/college_base.css" />
<script type="text/javascript">
    var login = "/contentv2/public/login.html";
</script>

<script type="text/javascript" src="https://sta1.write.qq.com/writer/0803130612/js/merge/college_base.js"></script><body>
<div class="container">
    <!-- 顶部header begin -->
    <!-- 顶部header begin -->
    <div class="header">
        <div class="hd-wrap clearfix">

            <!-- logo -->
            <h1 class="logo"><a href="/college/index.html"><img src="https://img1.write.qq.com/writer/p1/authorcollege/logo.png" /></a></h1>

            <!-- 页面导航 -->
            <div class="top-nav">
                <ul class="nav clearfix">
                    <li ><a href="/college/index.html">首页</a></li>
                    <li ><a href="/college/course/index.html">课程</a></li>
                    <li ><a href="/college/channel/index.html">专栏</a></li>
                    <li ><a href="/college/news/index.html">资讯</a></li>
                </ul>
            </div>

            <!-- 右侧搜索、登录信息 -->
            <div class="hd-right">

                <div class="login-box">
                    <!-- 未登录 -->
                    <div class="nologin" style="display:none"><a href="/contentv2/public/login.html">登录</a><em>|</em><a href="/contentv2/public/login.html">注册</a></div>
                    <!-- 已登录 -->
                    <div class="yeslogin" style="display:none">
                        <p class="author-pic pic30"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img class="portrait" src="" /></p>

                        <!-- 作家信息下拉 -->
                        <div class="author-drop" style="display: none;">
                            <div class="inner">
                                <div class="box clearfix">
                                    <p class="pic pic48"><a href="/college/usercenter/index.html"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img class="portrait" src="" /></a></p>
                                    <div class="info">
                                        <p class="name authorname">info.authorname</p>
                                        <p class="score authorscore">积分:info.score</p>
                                    </div>
                                    <p class="my"><a class="btn-blue" href="/college/usercenter/index.html">我的学习</a></p>
                                </div>
                                <p class="logout"><a class="btn-gray" onclick="cleanSession()">退出当前账号</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="authorid" type=hidden value="">

                <!--&lt;!&ndash; 搜索 &ndash;&gt;-->
                <!--<div class="search-box">-->
                <!--<label class="input-group closed">-->
                <!--<a class="btn-search" href="javascript:;"></a>-->
                <!--<span class="search"><input class="input-search" type="text" /></span>-->
                <!--</label>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- 顶部header end -->

    <script type="text/javascript">
        var url = "https://img1.write.qq.com/writer/p1";
        var authorurl = "/college/common/getauthorinfo.html";
    </script>

    <script type="text/javascript" src="https://sta1.write.qq.com/writer/0803130612/js/merge/college_topnav.js"></script>

    <!-- 顶部header end -->

    <!-- 内容区 -->



    <link rel="stylesheet" type="text/css" href="https://sta1.write.qq.com/writer/0803130612/css/merge/college_index.css" />

    <div class="main-wrap">
        <!-- 左侧内容区 -->
        <div class="main-left">

            <!-- 图片滚动 -->
            <div class="index-slider">

                <ul class="clearfix">
                    <li>
                        <a target="_blank" href="http://wwwploy.qidian.com/ploy/20150520qdsp/theme1.htm">
                            <img src="https://img1.write.qq.com/upload/CollegeBanner/2016-10-18/5805f02489144.png" />
                            <span class="desc"><span class="ttl">星计划——起点签约作家福利体系</span>资讯</span>
                        </a>
                    </li><li>
                    <a target="_blank" href="http://pages.book.qq.com/pages/2015/cssp/theme1.html">
                        <img src="https://img1.write.qq.com/upload/CollegeBanner/2016-10-18/5805f04bae2b7.png" />
                        <span class="desc"><span class="ttl">星计划——创世签约作家福利体系</span>资讯</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://acts.qidian.com/2017/5817213/  ">
                        <img src="https://img1.write.qq.com/upload/CollegeBanner/2017-05-16/591ad4937f129.jpg" />
                        <span class="desc"><span class="ttl">现实主义题材征文大赛</span>资讯</span>
                    </a>
                </li><li>
                    <a target="_blank" href="https://acts.readnovel.com/2017/5848217/index.html ">
                        <img src="https://img1.write.qq.com/upload/CollegeBanner/2017-05-17/591c1d3d1bd21.png" />
                        <span class="desc"><span class="ttl">阅文IP·青春季：征文召集令</span>资讯</span>
                    </a>
                </li>                </ul>
                <!-- 左右箭头 -->
                <a class="prev" href="javascript:;"></a>
                <a class="next" href="javascript:;"></a>

                <!-- 圆点 -->
                <p class="pager"></p>
            </div>
            <!-- 推荐课程 -->
            <div class="com-section recommend-course">
                <h2 class="sec-ttl">推荐课程</h2>

                <!-- 文章列表begin -->
                <div class="article-box">
                    <!-- 一条课程 -->
                    <div class="item">

                        <div class="article-content">
                            <div class="photo-box"><a href="/college/course/intro.html?CAID=5371077404624601" target="_blank"><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-13/s_57d7ad36ab564.jpg"  /></a></div>                            <div class="intro-box">
                            <h3><a href="/college/course/intro.html?CAID=5371077404624601" target="_blank">如何判断作品是否已失败</a></h3>
                            <p class="intro"><a href="/college/course/intro.html?CAID=5371077404624601" target="_blank">如前一篇文章所说，判断成功容易，判断失败却很难。明明写得不错，完全可以成功的作品，因为一时的挫折而放弃，这当然很可惜，而明明彻底失败的作品，却因为不信...</a></p>
                        </div>
                        </div>

                        <!-- 文章底下作者、评分、收藏 -->
                        <div class="article-bottom">
                            <span class="author pic32"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/portrait/2016-09-13/57d7ab9d72208.jpg" />314</span>
                            <span class="data">评分: 五星<em>|</em>收藏: 2630</span>
                        </div>
                    </div><!-- 一条课程 -->
                    <div class="item">

                        <div class="article-content">
                            <div class="photo-box"><a href="/college/course/intro.html?CAID=5377893203959901" target="_blank"><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-14/s_57d8b7747d6d0.jpg"  /></a></div>                            <div class="intro-box">
                            <h3><a href="/college/course/intro.html?CAID=5377893203959901" target="_blank">初步了解电子市场——加分篇</a></h3>
                            <p class="intro"><a href="/college/course/intro.html?CAID=5377893203959901" target="_blank">在上一篇中，我总结了一些禁忌元素，那么，反过来，加分元素又是指什么呢？加分元素，当然是指受大量读者喜爱、对于作品的成绩有好处的元素。不过，与禁忌元素全...</a></p>
                        </div>
                        </div>

                        <!-- 文章底下作者、评分、收藏 -->
                        <div class="article-bottom">
                            <span class="author pic32"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/portrait/2016-09-13/57d7ab9d72208.jpg" />314</span>
                            <span class="data">评分: 五星<em>|</em>收藏: 1482</span>
                        </div>
                    </div><!-- 一条课程 -->
                    <div class="item">

                        <div class="article-content">
                            <div class="photo-box"><a href="/college/course/intro.html?CAID=5378966603975901" target="_blank"><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-14/s_57d8e16277880.jpg"  /></a></div>                            <div class="intro-box">
                            <h3><a href="/college/course/intro.html?CAID=5378966603975901" target="_blank">吹牛时，该怎么吹自己比马云有钱</a></h3>
                            <p class="intro"><a href="/college/course/intro.html?CAID=5378966603975901" target="_blank">写网络小说，YY是必不可少的一个项目。然而，在很多时候，我们YY起来却面临两难的境地，吹得太狠吧，读者觉得假，吹得不狠，那又不够YY了。比较常见的是都...</a></p>
                        </div>
                        </div>

                        <!-- 文章底下作者、评分、收藏 -->
                        <div class="article-bottom">
                            <span class="author pic32"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/portrait/2016-09-13/57d7ab9d72208.jpg" />314</span>
                            <span class="data">评分: 四星<em>|</em>收藏: 612</span>
                        </div>
                    </div><!-- 一条课程 -->
                    <div class="item">

                        <div class="article-content">
                            <div class="photo-box"><a href="/college/course/intro.html?CAID=6631251404816401" target="_blank"><img src="https://img1.write.qq.com/upload/CourseCover/2017-02-06/s_5897f6c0b09eb.png"  /></a></div>                            <div class="intro-box">
                            <h3><a href="/college/course/intro.html?CAID=6631251404816401" target="_blank">作者防骗要领——网站坑蒙拐骗手段揭秘</a></h3>
                            <p class="intro"><a href="/college/course/intro.html?CAID=6631251404816401" target="_blank">新的一年来临，想来一定有不少作者满怀期待地开了新书，辛辛苦苦地攒下稿子，然后忐忑不安地上网发布。无关书的好坏，这些作者都是行业发展的根基，或许其中有些...</a></p>
                        </div>
                        </div>

                        <!-- 文章底下作者、评分、收藏 -->
                        <div class="article-bottom">
                            <span class="author pic32"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/portrait/2016-09-13/57d7ab9d72208.jpg" />314</span>
                            <span class="data">评分: 五星<em>|</em>收藏: 908</span>
                        </div>
                    </div><!-- 一条课程 -->
                    <div class="item">

                        <div class="article-content">
                            <div class="photo-box"><a href="/college/course/intro.html?CAID=6509922004554601" target="_blank"><img src="https://img1.write.qq.com/upload/CourseCover/2017-01-23/s_5885735448989.jpg"  /></a></div>                            <div class="intro-box">
                            <h3><a href="/college/course/intro.html?CAID=6509922004554601" target="_blank">ZENK讲武堂——古武未来怎么写</a></h3>
                            <p class="intro"><a href="/college/course/intro.html?CAID=6509922004554601" target="_blank">通过上一篇的介绍，我相信大家对于古武未来这个新类型的前世、今生，大致的创作的方向都有了一定的了解。
                                那么想要准备征文，应该如何动笔呢？古武未来这四个...</a></p>
                        </div>
                        </div>

                        <!-- 文章底下作者、评分、收藏 -->
                        <div class="article-bottom">
                            <span class="author pic32"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/portrait/2016-12-27/58625118df253.png" />ZENK</span>
                            <span class="data">评分: 五星<em>|</em>收藏: 448</span>
                        </div>
                    </div>            </div>

                <!-- 文章列表end -->
                <p class="more-bottom"><a href="/college/course/index.html">查看更多课程</a></p>
            </div>

            <!-- 推荐专栏 -->
            <div class="com-section recommend-column">
                <h2 class="sec-ttl">推荐专栏</h2>

                <!-- 专栏 -->
                <div class="column-box clearfix">
                    <div class="item">

                        <!-- 64*64尺寸图 -->
                        <div class="pic pic64"><a href="/college/channel/articlelist.html?LCID=14256367433706670" target="_blank"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-06/57ce7ef37c429.jpg" /></a></div>

                        <!-- 右侧文字 -->
                        <div class="right-box">
                            <div class="intro-box">
                                <h3><a href="/college/channel/articlelist.html?LCID=14256367433706670" target="_blank">杨晨说网文</a></h3>
                                <p class="intro"><a href="/college/channel/articlelist.html?LCID=14256367433706670" target="_blank">总编杨晨关于原创文学行业的见解及写作指导。（杨晨，网名314，网络文学资深编辑，现任阅文集团总经理、起点中文网总编）</a></p>
                                <p class="data"><a href="/college/channel/articlelist.html?LCID=14256367433706670" target="_blank">39篇文章 | 4246人关注</a></p>
                            </div>
                            <p class="btn-blue02"><a href="/college/channel/articlelist.html?LCID=14256367433706670" target="_blank">进入专栏</a></p>
                        </div>
                    </div><div class="item">

                    <!-- 64*64尺寸图 -->
                    <div class="pic pic64"><a href="/college/channel/articlelist.html?LCID=14273688743013707" target="_blank"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-07/57cfd4958759a.jpg" /></a></div>

                    <!-- 右侧文字 -->
                    <div class="right-box">
                        <div class="intro-box">
                            <h3><a href="/college/channel/articlelist.html?LCID=14273688743013707" target="_blank">主编说</a></h3>
                            <p class="intro"><a href="/college/channel/articlelist.html?LCID=14273688743013707" target="_blank">最专业的内容团队，最独到的网文解读。由阅文集团内容专家团队倾力打造，全面解读当下网络文学业态，教你创作不一样的网文。   </a></p>
                            <p class="data"><a href="/college/channel/articlelist.html?LCID=14273688743013707" target="_blank">13篇文章 | 3396人关注</a></p>
                        </div>
                        <p class="btn-blue02"><a href="/college/channel/articlelist.html?LCID=14273688743013707" target="_blank">进入专栏</a></p>
                    </div>
                </div><div class="item">

                    <!-- 64*64尺寸图 -->
                    <div class="pic pic64"><a href="/college/channel/articlelist.html?LCID=14279867605331242" target="_blank"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-07/57cfd4ec96848.jpg" /></a></div>

                    <!-- 右侧文字 -->
                    <div class="right-box">
                        <div class="intro-box">
                            <h3><a href="/college/channel/articlelist.html?LCID=14279867605331242" target="_blank">走进大神</a></h3>
                            <p class="intro"><a href="/college/channel/articlelist.html?LCID=14279867605331242" target="_blank">新神平地崛起，大神星光熠熠，成神的背后，有辛酸，有欢乐，有无奈，更有坚持不懈……揭秘大神成功背后的故事。</a></p>
                            <p class="data"><a href="/college/channel/articlelist.html?LCID=14279867605331242" target="_blank">3篇文章 | 4084人关注</a></p>
                        </div>
                        <p class="btn-blue02"><a href="/college/channel/articlelist.html?LCID=14279867605331242" target="_blank">进入专栏</a></p>
                    </div>
                </div><div class="item">

                    <!-- 64*64尺寸图 -->
                    <div class="pic pic64"><a href="/college/channel/articlelist.html?LCID=14273726331923859" target="_blank"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/upload/CourseCover/2016-09-07/57cf7b8e88799.jpg" /></a></div>

                    <!-- 右侧文字 -->
                    <div class="right-box">
                        <div class="intro-box">
                            <h3><a href="/college/channel/articlelist.html?LCID=14273726331923859" target="_blank">写作技巧</a></h3>
                            <p class="intro"><a href="/college/channel/articlelist.html?LCID=14273726331923859" target="_blank">题材分享，桥段赏析，通过案例剖析写作技巧。内含大量生动案例，独特的题材解析，优秀的桥段示范，帮助你理解创作的奥秘。</a></p>
                            <p class="data"><a href="/college/channel/articlelist.html?LCID=14273726331923859" target="_blank">17篇文章 | 11049人关注</a></p>
                        </div>
                        <p class="btn-blue02"><a href="/college/channel/articlelist.html?LCID=14273726331923859" target="_blank">进入专栏</a></p>
                    </div>
                </div>            </div>
                <p class="more-bottom"><a href="/college/channel/index.html">查看更多专栏</a></p>
            </div>
        </div>

        <!-- 右侧内容区 -->
        <div class="side-right">

            <!-- 我的专区 -->
            <div class="com-section author-center">
                <h2 class="sec-ttl">我的专区</h2>

                <!-- 0921未登录显示begin -->
                <div class="nologin-box" style="display: none">
                    <div class="author-box clearfix">

                        <!-- 头像 -->
                        <div class="pic pic48"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img src="https://img1.write.qq.com/writer/p1/authorcollege/avatar.png" /></div>

                        <!-- 信息 -->
                        <div class="right">
                            <p class="info"><span class="name">Hi，你好</span></p>
                            <p class="jifen">欢迎来到作家专区</p>
                        </div>
                    </div>
                    <div class="login-box">
                        <a class="login" href="/contentv2/public/login.html">登录</a>
                        <i class="line"></i>
                        <a class="register" href="/contentv2/public/login.html">注册</a>
                    </div>
                </div>
                <!-- 0921未登录显示end -->

                <!-- 0921已登录显示begin -->
                <div class="yeslogin-box" style="display: none">
                    <div class="author-box clearfix">

                        <!-- 头像 -->
                        <div class="pic pic48"><a href="/college/usercenter/index.html"><span class="circle"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_mask.png" /></span><img class="portrait" src="" /></a></div>

                        <!-- 信息 -->
                        <div class="right">
                            <p class="info"><span class="name authorname"></span><span class="honor authorhonor">白金</span><span class="level authorlevel"></span></p>
                            <p class="jifen authorscore"></p>
                        </div>
                    </div>

                    <!-- 链接 -->
                    <div class="link-manage">
                        <a class="blue-btn" href="/index.html" target="_blank">进入我的专区</a>
                    </div>
                </div>
                <!-- 9021已登录显示end -->
            </div>

            <!-- 资讯 -->
            <div class="com-section news-section">
                <h2 class="sec-ttl">最新资讯</h2>
                <div class="news-list">
                    <div class="item">
                        <p class="title"><a href="/college/news/detail.html?CAID=7860495803413601" target="_blank">神级总编小分队长开课啦！</a></p>
                        <p class="time">2017-06-29</p>
                        <p class="intro"><a href="/college/news/detail.html?CAID=7860495803413601" target="_blank">大神预备班：神级总编小分队长开课啦！教你打造下一部超级IP！6月29日...</a></p>
                    </div><div class="item">
                    <p class="title"><a href="/college/news/detail.html?CAID=7444505803233701" target="_blank">网文白金导师免费开课！</a></p>
                    <p class="time">2017-05-11</p>
                    <p class="intro"><a href="/college/news/detail.html?CAID=7444505803233701" target="_blank">无数白金的导师、千万稿费的指路人&mdash;&mdash;杨晨314...</a></p>
                </div><div class="item">
                    <p class="title"><a href="/college/news/detail.html?CAID=7151999003079601" target="_blank">沉痛悼念黄易大师仙逝</a></p>
                    <p class="time">2017-04-08</p>
                    <p class="intro"><a href="/college/news/detail.html?CAID=7151999003079601" target="_blank">2017年4月5日，著名武侠小说作家黄易病逝，终年65岁。
                        黄易先生...</a></p>
                </div>            </div>
                <p class="more-bottom"><a href="/college/news/index.html">更多资讯</a></p>
            </div>

            <!-- 阅文编辑团队介绍 -->
            <div class="com-section editorial-team">
                <h2 class="sec-ttl">阅文金牌编辑团队</h2>
                <div class="pic"><a href="/college/index/editor.html" target="_Blank"><img src="https://img1.write.qq.com/writer/p1/authorcollege/cartoon_team.png" /></a></div>
            </div>

            <!-- 阅文作家福利体系 -->
            <div class="com-section welfare-system">
                <h2 class="sec-ttl">阅文作家福利体系</h2>
                <div class="pic"><a target="_blank" href="/jump/index.html?site=7"><img src="https://img1.write.qq.com/writer/p1/authorcollege/welfare_img.png" /></a></div>
            </div>

            <!-- 官方推荐 -->
            <div class="com-section official-recommend">
                <h2 class="sec-ttl">官方推荐</h2>
                <div class="recommend-box">
                    <div class="info-box clearfix">
                        <p class="pic"><img class="app" src="https://img1.write.qq.com/writer/p1/authorcollege/app.png" /></p>
                        <div class="right-box">
                            <p class="title">作家助手 App</p>
                            <p class="desc">随时随地，全民写作</p>
                        </div>
                    </div>
                    <p class="description">阅文集团官方诚意打造的一款移动创作软件,覆盖 iOS、Android 主流移动平台。</p>

                    <!-- 下载 -->
                    <p class="download">
                        <a class="d-ios" target="_blank" href="https://itunes.apple.com/cn/app/zuo-jia-zhu-shou-sui-shi-sui/id1044537226?l=en&amp;mt=8"><i class="ico ico-ios"></i>苹果版下载</a>
                        <a target="_blank" href="https://sj.qq.com/myapp/detail.htm?apkName=com.yuewen.authorapp"><i class="ico ico-android"></i>安卓版下载</a>
                    </p>
                </div>

                <div class="recommend-box">
                    <div class="info-box clearfix">
                        <p class="pic"><img src="https://img1.write.qq.com/writer/p1/authorcollege/author_ewm.jpg" /></p>
                        <div class="right-box">
                            <p class="title">作家助手公众号</p>
                            <p class="desc"><i class="ico ico-saoma"></i>微信扫码关注</p>
                        </div>
                    </div>
                    <p class="description">网文行业最权威的编辑团队，为各位作者朋友提供全方位创作支持，各类咨询问题第一时间回复，同时定期分享业内最权威信息。</p>
                </div>
                <div class="recommend-box no-border">
                    <div class="info-box clearfix">
                        <p class="pic"><img src="https://img1.write.qq.com/writer/p1/authorcollege/yc_ewm.jpg" /></p>
                        <div class="right-box">
                            <p class="title">杨晨说网文公众号</p>
                            <p class="desc"><i class="ico ico-saoma"></i>微信扫码关注</p>
                        </div>
                    </div>
                    <p class="description">杨晨，笔名314，起点中文网总编，关注公众号，阅读原创行业分析、写作指导，更有机会与总编大大直接对话。</p>
                </div>
            </div>

            <!--&lt;!&ndash; 广告 &ndash;&gt;-->
            <!--<div class="side-ad"><a href=""><img src="https://img1.write.qq.com/writer/p1/authorcollege/ad01.jpg" /></a></div>-->
        </div>
    </div>

    <script type="text/javascript">
        $("#pdesc").attr("content","作家专区是阅文集团致力于原创作家孵化、培育、创作、挖掘的网络文学平台，作家可以通过作家学院在线课程的学习，使用作家专区及作家助手移动端APP发布与管理小说、查看数据、与读者互动。");
        $("#ptitle").text("首页-阅文作家专区");
    </script>

    <script type="text/javascript" src="https://sta1.write.qq.com/writer/0803130612/js/merge/college_index.js"></script>
    <!-- 底部 -->
    <div class="footer">
        <div class="ft-box clearfix">

            <!-- 版权 -->
            <div class="copyright">Copyright © 2017 All Rights Reserved   阅文集团 版权所有</div>

            <!-- 链接 -->
            <div class="ft-link">
                <!-- 联系客服弹出begin -->
                <div id="contact-bubble" class="footer-bubble">
                    <em><i></i></em>
                    <ul>
                        <li><a target="_blank" href="http://kf.qidian.com/Default.aspx">联系起点客服</a></li>
                        <li><a target="_blank" href="http://kf.qq.com/product/chuangshi.html">联系创世客服</a></li>
                    </ul>
                </div>
                <!-- 联系客服弹出end -->
                <ul>
                    <li><a target="_blank" href="/contentv2/about/help_center.html">帮助中心</a><em>|</em></li>
                    <li><a  id="contact" href="javascript:;">联系客服</a><em>|</em></li>
                    <li><a target="_blank" href="http://join.book.qq.com/introduction.html">关于我们</a><em>|</em></li>
                    <li><a target="_blank" href="http://join.book.qq.com/social.html">诚聘英才</a><em>|</em></li>
                    <li><a target="_blank" href="/contentv2/about/copyright.html">版权声明</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- 意见反馈 -->
<!-- 返回顶部 -->
<!-- 意见反馈 -->
<div class="fixed-feedback">
    <a class="btn-feedback" href="javascript:;">意见反馈</a>
    <div class="feedback-box">
        <h3>意见反馈</h3>
        <div class="text">
            <p>使用过程中，如您有任何疑问或者建议，为更好解决您的问题，请点击<a class="blue" target="_blank" href="http://wj.qq.com/s/887096/3397">意见反馈</a>进行反馈。</p>
        </div>
    </div>
</div>

<!-- 返回顶部 -->
<div class="page-top"><a href="javascript:;">返回顶部</a></div>
<script type="text/javascript">
    $(function(){

        var refreshKeyUrl = "https://passport.book.qq.com/index/refreshkey.html";

        function _refreshKey(){
            new Image().src = refreshKeyUrl;
        }

        setInterval(_refreshKey, 1800000); //30分钟

        //public
        $.getScript("https://tajs.qq.com/stats?sId=34321758");
        //new write
        $.getScript("https://tajs.qq.com/stats?sId=51056771");
    });
</script>

</body>
</html>