<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${au.authorNname}"></title>
    <meta name="keywords" content="辰东,辰东全部作品,辰东最新连载,辰东好看的书,辰东新书,辰东粉丝,辰东大神之光,辰东作家主页">
    <meta name="description" content="辰东好看的书,辰东的书,辰东最新连载,辰东全部作品,不死不灭,神墓,长生界,遮天,完美世界,圣墟,小说阅读,精彩小说尽在起点中文网. 起点中文网提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
    <link rel="icon" type="image/x-icon" href="//qidian.gtimg.com/qdp/img/favicon.0.1.ico">

    <link rel="stylesheet" data-ignore="true" href="//qidian.gtimg.com/c/=/qdp/iconfont/symbols.3.55.css,/qdp/css/common.0.78.css,/qdp/css/mainHeader.0.10.css,/qdp/css/authorHome/index.0.27.css,/qdp/icon/common/sprite.0.11.css,/qdp/font/index.0.10.css" />

    <script>document.domain ='qidian.com';</script>
    <script>var speedTimer = [], speedZero = new Date().getTime();</script>
</head>
<body class="author">

<div class="personal-mheader">
    <div class="mheader-wrapper">
        <ul class="mheader-nav fl">
            <li class="mheader-nav-li mheader-logo">
                <a href="//www.qidian.com" target="_blank" class="mheader-nav-a mheader-logo-a">起点中文网<span class="mheader-arrow"></span></a>
                <ul class="mheader-drop">
                    <li>
                        <a href="//www.qdmm.com" target="_blank">起点女生网</a>
                    </li>
                    <li>
                        <a href="//chuangshi.qq.com" target="_blank" >创世中文网</a>
                    </li>
                    <li>
                        <a href="//yunqi.qq.com" target="_blank">云起书院</a>
                    </li>
                </ul>
            </li>
            <li class="mheader-nav-li">
                <a href="//xuanhuan.qidian.com/" class="mheader-nav-a" target="_blank">玄幻</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//dushi.qidian.com/" class="mheader-nav-a" target="_blank">都市</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//xianxia.qidian.com/" class="mheader-nav-a" target="_blank">仙侠</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//kehuan.qidian.com" class="mheader-nav-a" target="_blank">科幻</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//youxi.qidian.com/" class="mheader-nav-a" target="_blank">游戏</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//lishi.qidian.com" class="mheader-nav-a" target="_blank">历史</a>
            </li>
            <li class="mheader-nav-li">
                <a href="//r.qidian.com" class="mheader-nav-a" target="_blank">排行</a>
            </li>
            <li class="mheader-nav-li mheader-more">
                <a href="javascript:;" class="mheader-nav-a">更多<span class="mheader-arrow"></span></a>
                <ul class="mheader-drop">
                    <li>
                        <a href="//a.qidian.com/" target="_blank">全部作品</a>
                    </li>
                    <li>
                        <a href="//2cy.qidian.com/" target="_blank">二次元</a>
                    </li>
                    <li>
                        <a href="//qihuan.qidian.com" target="_blank">奇幻</a>
                    </li>
                    <li>
                        <a href="//wuxia.qidian.com" target="_blank">武侠</a>
                    </li>
                    <li>
                        <a href="//lingyi.qidian.com" target="_blank">灵异</a>
                    </li>
                    <li>
                        <a href="//junshi.qidian.com" target="_blank">军事</a>
                    </li>
                    <li>
                        <a href="//zhichang.qidian.com" target="_blank">职场</a>
                    </li>
                    <li>
                        <a href="//tiyu.qidian.com/" target="_blank">体育</a>
                    </li>
                    <li>
                        <a href="//duanpian.qidian.com/" target="_blank">短篇</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="mheader-nav fr">
            <li class="mheader-nav-li">
                <form class="mheader-search">

                    <input type="text" id="elSearchInput" class="mheader-search-input" placeholder="逆流纯真年代">

                    <input id="mHeaderSearch" type="submit" class="dn" name="">
                    <label for="mHeaderSearch" class="mheader-search-label w_searchlable"></label>
                </form>
            </li>
            <li class="mheader-nav-li line"></li>

            <li class="mheader-nav-li" style="">
                <div class="mheader-logout">
                    <a href="//passport.qidian.com/reg.html" target="_blank" class="mr8">注册</a>
                    <a href="javascript:;" class="btnLogin" >登录</a>
                </div>
            </li>

            <li class="mheader-nav-li line"></li>
            <li class="mheader-nav-li">
                <a href="/bookcase" class="mheader-nav-a mheader-shelf-a"><i class="iconfont icon-book"
                ></i>我的书架</a>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <div class="author-header" data-l1="2">
        <div class="author-header-wrapper">
            <div class="header-avatar">
                <img class="header-avatar-img" th:src="${au.avatar}" alt="作者的头像">
                <span class="header-avatar-vip author-darkblue">白金</span>
            </div>
            <div class="header-msg">
                <a th:href="@{selectByAuthorName(name=${au.authorNname})}" class="header-msg-tosingle" target="_blank">个人主页</a>
                    <h3><b th:text="${au.authorNname }"></b><a class="header-msg-level icon icon-god-5" href="/author/light/4362453" title="level5" target="_blank">level2</a></h3>
                <div class="header-msg-desc"><b th:text="${au.authorintroduce}"></b></div>
                <div class="header-msg-data">
                    <span class="mr12">作品总数<stronFg class="header-msg-strong"><b th:text="${au.productionCount}"></b></stronFg></span><span class="ml12 mr12">累计字数<strong class="header-msg-strong"><b th:text="${au.wordsCount}"></b></strong>万</span><span class="ml12 mr12">创作天数<strong class="header-msg-strong"><b th:text="${au.writeDays}"></b></strong>天</span></div>
            </div>
        </div>
    </div>
    <div class="author-content-wrapper" data-l1="2">
        <div class="author-sidebar">
            <div class="author-sidebar-wrapper" data-l2="10">
                <h3 class="author-sidebar-title">大神之光</h3>
                <div class="author-sidebar-more"><a href="//my.qidian.com/author/light/4362453" class="blue" target="_blank"  data-eid="qd_M272">领取大神之光></a></div>

                <div class="author-light">
                    <div class="author-light-title"><a href="/author/light/4362453" target="_blank" data-eid="qd_M274">辰东之光</a></div>
                    <div class="author-light-num">已有710人领取</div>
                </div>
                <a href="/author/light/4362453" target="_blank" data-eid="qd_M273">

                    <img class="author-light-logo" src="//qidian.gtimg.com/qdImages/qdp/dszg/4362453_200.png">

                </a>

            </div>
            <div class="author-sidebar-wrapper" data-l2="11">
                <h3 class="author-sidebar-title">定制称号<span class="author-sidebar-subtitle"><b class="ml8">辰迷</b><a href="javascript:;" class="iconfont icon-quest qdp-question qdp-hovertips-wrapper"  data-eid="qd_M276">
                                        <div class="qdp-hovertips">
                                            <p>什么是粉丝称号？</p>
                                            <p>粉丝称号是作家为读者们定制的专属名称，用户可使用获得的宝球兑换粉丝称号，获得粉丝称号的用户将在相应作家主页中展示；</p>
                                            <p>如何获得宝球？</p>
                                            <p>用户可通过参与起点读书APP于2017年5月1日~5月31日举办的粉丝节活动获得；</p>
                                            <b class="arr arr-up">
                                                <i class="arr-left"></i>
                                                <i class="arr-right"></i>
                                            </b>
                                        </div>
                                    </a></span>
                </h3>

                <div class="author-sidebar-exp">共968人领取，显示最近5人</div>
                <ul class="sidebar-list">

                    <li class="sidebar-list-item" >
                        <a href="//my.qidian.com/user/305956500" class="sidebar-list-a" target="_blank"  data-eid="qd_M277"><img class="sidebar-list-img" src="//facepic.qidian.com/qd_face/349573/5197704/100" alt="书虫刁民的头像"></a>
                        <div><a href="//my.qidian.com/user/305956500" class="blue" target="_blank" data-eid="qd_M278">书虫刁民</a></div>
                        <div class="sidebar-list-time">2017-08-07 20:50</div>
                    </li>

                    <li class="sidebar-list-item" >
                        <a href="//my.qidian.com/user/226093119" class="sidebar-list-a" target="_blank"  data-eid="qd_M277"><img class="sidebar-list-img" src="//facepic.qidian.com/qd_face/349573/5208128/100" alt="菜菜不吃Rou的头像"></a>
                        <div><a href="//my.qidian.com/user/226093119" class="blue" target="_blank" data-eid="qd_M278">菜菜不吃Rou</a></div>
                        <div class="sidebar-list-time">2017-08-07 17:16</div>
                    </li>

                    <li class="sidebar-list-item" >
                        <a href="//my.qidian.com/user/303938222" class="sidebar-list-a" target="_blank"  data-eid="qd_M277"><img class="sidebar-list-img" src="//facepic.qidian.com/qd_face/349573/5114484/100" alt="一只小景逝的头像"></a>
                        <div><a href="//my.qidian.com/user/303938222" class="blue" target="_blank" data-eid="qd_M278">一只小景逝</a></div>
                        <div class="sidebar-list-time">2017-08-07 12:42</div>
                    </li>

                    <li class="sidebar-list-item" >
                        <a href="//my.qidian.com/user/220918054" class="sidebar-list-a" target="_blank"  data-eid="qd_M277"><img class="sidebar-list-img" src="//facepic.qidian.com/qd_face/349573/3676656/100" alt="该用户不存在呢的头像"></a>
                        <div><a href="//my.qidian.com/user/220918054" class="blue" target="_blank" data-eid="qd_M278">该用户不存在呢</a></div>
                        <div class="sidebar-list-time">2017-08-07 03:04</div>
                    </li>

                    <li class="sidebar-list-item" >
                        <a href="//my.qidian.com/user/3490069" class="sidebar-list-a" target="_blank"  data-eid="qd_M277"><img class="sidebar-list-img" src="//facepic.qidian.com/qd_face/349573/964491/100" alt="｀超人的头像"></a>
                        <div><a href="//my.qidian.com/user/3490069" class="blue" target="_blank" data-eid="qd_M278">｀超人</a></div>
                        <div class="sidebar-list-time">2017-08-07 03:00</div>
                    </li>

                </ul>

            </div>
        </div>
        <div class="author-content">

            <h2 class="author-title">全部作品</h2>


            <ul class="author-work" data-l2="9"  th:each="list:${list}" >
                <li class="author-item" >
                    <div class="author-item-time">2004~2005</div>
                    <a href="//book.qidian.com/info/20117" target="_blank" class='author-item-book' data-eid="qd_M268"><img src="" th:attr="src=${list.picpath}" srcset="//qidian.qpic.cn/qdbimg/349573/20117/300 2x" class='author-item-img'></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="//book.qidian.com/info/20117" target="_blank" data-eid="qd_M269" data-bid="20117"><b  th:text="${list.name}"></b></a></div>
                        <div class="author-item-coll">累积获得五十万张推荐票</div>
                        <div class="author-item-exp"><a href="http://wuxia.qidian.com" target="_blank">武侠</a><i class="author-item-line"></i><a href="//vipreader.qidian.com/chapter/20117/340496936" target="_blank">完本</a><i class="author-item-line"></i>80.22万字</div>
                        <div class="author-item-content"   th:text="${list.info}"></div>
                        <div class="author-item-update"><a href="//vipreader.qidian.com/chapter/20117/340496935" class="blue" target="_blank" title="我的新书《圣墟》已上传">最近更新&nbsp;我的新书《圣墟》已上传</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2016-11-01 13:57</span></div>
                        <div class="author-item-button">
                            <a th:href="@{findBookById(id=${list.id})}" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="20117">书籍详情</a><a href="javascript:;" class="btnLogin ui-button ui-button-default" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>
            </ul>


        </div>
        <div class="go-top dn">
            <div class="go-top-wrap">
                <a href="#" class="icon-go-top bTips" title="返回顶部" ><i class="iconfont icon-backtop"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="personal-footer">
    <div class="footer-sub">
        <a href="//www.yuewen.com/" target="_blank">阅文集团</a>旗下网站：
        <a href="//www.qidian.com" target="_blank" class="mr8">起点中文网</a>
        <a href="//www.qdmm.com/" target="_blank" class="mr8">起点女生网</a>
        <a href="//chuangshi.qq.com" target="_blank" class="mr8">创世中文网</a>
        <a href="//yunqi.qq.com/" target="_blank" class="mr8">云起书院</a>
        <a href="//www.hongxiu.com" target="_blank" class="mr8">红袖添香</a>
        <a href="//www.readnovel.com" target="_blank" class="mr8">小说阅读网</a>
        <a href="//www.xs8.cn/" target="_blank" class="mr8">言情小说吧</a>
        <a href="//www.xxsy.net/" target="_blank" class="mr8">潇湘书院</a>
        <a href="//www.tingbook.com/" target="_blank" class="mr8">天方听书网</a>
        <a href="//www.lrts.me" target="_blank" class="mr8">懒人听书</a>
        <a href="//yuedu.yuewen.com/" target="_blank" class="mr8">阅文悦读</a>
        <a href="//www.yuewen.com/app.html" target="_blank" class="mr8">QQ阅读</a>
        <a href="http://www.yuewen.com/app.html#appqd" target="_blank" class="mr8">起点读书</a>
        <a href="http://www.yuewen.com/app.html#appzj" target="_blank" class="mr8">作家助手</a>
        <a href="//www.webnovel.com" target="_blank" class="mr8">起点国际版</a>
    </div>
    <div class="footer-menu">
        <a href="//www.qidian.com/about/intro" target="_blank">关于起点</a>
        <a href="//www.qidian.com/about/contact" target="_blank">联系我们</a>
        <a href="//join.book.qq.com/index.html" target="_blank">加入我们</a>
        <a href="//www.qidian.com/help/index/2" target="_blank">帮助中心</a>
        <a href="//bbs.qidian.com/list/53" target="_blank">提交建议</a>
        <!-- <a href="//wwwploy.qidian.com/help/about_link.aspx" target="_blank">合作伙伴</a> -->
        <a href="//bbs.qidian.com" target="_blank">起点论坛</a>
        <!-- <a href="//webgame.qidian.com/jiazhang.html" target="_blank">家长监护工程</a> -->
    </div>
    <div class="footer-copyright">
        <p>Copyright (C) 2002-2017 www.qidian.com All Rights Reserved 版权所有 </p>
        <p>上海玄霆娱乐信息科技有限公司 上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 沪网文[2015]0081-031 新出网证(沪)字010 沪ICP备08017520号-1</p>
        <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！</p>
        <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
    </div>
</div>
<script>
    // 全局的通用数据都放g_data变量里
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = 'pro';
    // 调试模式
    g_data.debug = 'false';
    g_data.static = '//qidian.gtimg.com';
    // 域名
    g_data.domains = {"my":"//my.qidian.com","static":"//qidian.gtimg.com","cover":"//qidian.qpic.cn","pay":"//pay.yuewen.com","security":"//aq.yuewen.com","pc":"//www.qidian.com","hiijack":"//book.qidian.com","activity":"//activity.qidian.com","help":"//www.qidian.com"};
    // 用户
    g_data.user = {"isLogin":false,"avatar":"","nickName":"","userId":-1,"userType":-1,"guid":null,"tucaoUrl":""};
    // 用作统计PV
    g_data.pageId = 'qd_P_authorinfo';
    // 用作判断用户是否登录
    g_data.isLogin = false;
</script>
<script data-ignore="true" src="//qidian.gtimg.com/lbf/2.0.0/LBF.js?max_age=31536000"></script>
<script>
    // LBF 配置
    LBF.config({
        paths: {
            qdp: '//qidian.gtimg.com/qdp',
        },
        vars: {
            theme: '//qidian.gtimg.com/qdp/css',
        },
        combo: true,
        debug: false
    });
    //设置页面常用的一些插件
    LBF.use(['lib.jQuery', 'monitor.SpeedReport', 'qdp/js/common/page/index.0.56.js', 'qdp/js/author/index.0.9.js'], function ($, SpeedReport, pageCommon, page) {
        pageCommon.init();
        page.init();
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
            var f1 = 7718; // china reading limited's ID
            var f2 = 251; // site ID
            var f3 = 0; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3,
                rate: 0.1
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero,
                rate: 0.1
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20);
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        });
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>

<script>
    var _mtac = {"senseQuery":1};
    (function() {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500445303");
        mta.setAttribute("cid", "500446496");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>

</body>
</html>
