<html><head>
    <meta charset="UTF-8">
<meta name="description" content="小说阅读,精彩小说尽在起点中文网. 起点中文网提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
<meta name="keywords" content="小说,小说网,玄幻小说,武侠小说,都市小说,历史小说,网络小说,言情小说,青春小说,原创网络文学">
<meta name="robots" content="all">
<meta name="googlebot" content="all">
<meta name="baiduspider" content="all">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
<meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<title>账号注册成功_起点中文网_阅文集团旗下网站</title>
<link rel="stylesheet" type="text/css" href="https://sta.gtimg.com/c/=/qd2/css/cssreset.css,/qd2/css/header.css,/qd2/css/login.css,/qd2/css/layout.css,/qd2/css/sprites.css,/qd2/css/ui.css,/qd2/css/footer.css,/qd2/css/font.css,/qd2/css/reg.css,/qd2/css/pact.css">
<link rel="shortcut icon" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.0.2.ico">
<link rel="Bookmark" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.0.2.ico"></head>
<body>
<div class="wrap">
    <!-- start 头部 -->
    <div class="header reg-header qidian">
        <div class="box-center">
            <div class="logo cf"><a href="http://www.qidian.com"></a><em></em><span class="lang">用户注册</span></div>
        </div>
    </div>
    <!-- end 头部 -->    
    <!-- start 整体居中 -->
    <div class="box-center">
        <!-- start 注册模块 -->
        <div class="reg-wrap">
            <!-- start 注册进度 -->
            <div class="reg-step">
                <!-- 步进到哪一步，就给当前span上class：act -->
                <span class="lang act"><i>1</i>填写注册信息</span>
                <span class="lang act"><em class="iconfont"></em>注册成功</span>
            </div>
            <div class="reg-form-wrap">
                <div class="reg-success">
                    <h3>注册成功</h3>
                    <div class="sprite ok"></div>
                    <p>你的账号：</p>
                    <h4 class="red">15201317689</h4>
                    <p>90%的书友会设置安全认证，抵御盗号风险</p>
                    <p><a class="blue" href="http://anquan.qidian.com">前往安全中心</a></p>
                    <p><span class="red" id="jumpTime">3</span>秒后跳转</p>
                </div>
            </div>
            <!-- end 注册进度 -->
        </div>
        <!-- end 注册模块 -->
    </div>
    <script type="text/template" id="yanba_popup">
    <div id="yanba_popup_div">
    <!-- end 整体居中 -->
    <div class="mask"></div>
    <!-- start 【重要】账户升级后登陆需知 -->
    <div class="common-popup">
        <div class="popup-head">
            <h3>【重要】账户升级后登录须知</h3>
        </div>
        <div class="popup-content">
            <p>恭喜您，成功注册阅文通行证，再登录时，一定要记得选“阅文通行证”登录；凭阅文通行证可登录阅文旗下各产品线。</p>
            
        </div>
        <div class="popup-btn">
            <!-- 倒计时结束后去掉class disabled 文案变成“关闭” -->
            <a class="blue-btn" href="javascript:closeYanbaPopup()">关闭</a>
            <a href="http://reg.xs8.cn/notice/yw_login.html" target="_blank">更多详情</a>
        </div>
    
    </div>
    <!-- end 【重要】账户升级后登陆需知 -->
    </div>
    </script>
    <script src="https://sta.gtimg.com/qd/js/jquery-1.9.1.min.js"></script>
    <script>
    var jumpBackUrl = function() {
    	var count = 7;
        var interval = setInterval(function() {			
            count--;
            if (count <= 0) {
                clearInterval(interval);
                window.location.href = 'http://www.qidian.com?ywregister=1&ticket=ttd0cb4e3b90ec4a33afe726ac7c9cb14d&ywguid=854004695754';
            }
            else {
                $("#jumpTime").html(count);
            }
        }, 1000);
    }
    //显示言吧注册成功后的弹窗
	var showYanbaPopup = function() {
		var html = $("#yanba_popup").html();
		$("body").append(html);
	};
	
	var closeYanbaPopup = function() {
		$("#yanba_popup_div").remove();
		jumpBackUrl();
	};
        jumpBackUrl();
        
    
    </script>
        
    <div class="footer">
    <div class="link">
        <a href="//www.qidian.com/about/intro" target="_blank">关于起点</a>
        <a href="//www.qidian.com/about/contact" target="_blank">联系我们</a>
        <a href="http://join.book.qq.com/index.html" target="_blank">加入我们</a>
        <a href="http://kf.qidian.com/Default.aspx" target="_blank">客服中心</a>
        <a href="http://bbs.qidian.com/list/53" target="_blank">提交建议</a>
        <a href="http://wwwploy.qidian.com/help/about_link.aspx" target="_blank">合作伙伴</a>
        <a href="http://www.qidian.com/helpcenter/default.aspx" target="_blank">使用指南</a>
        <a href="http://bbs.qidian.com" target="_blank">起点论坛</a>
        <a href="http://shop.qidian.com/Index.aspx" target="_blank">起点商城</a>
    </div>
    <p>Copyright (C) 2002-2016 www.qidian.com All Right Reserved版权所有 上海玄霆娱乐信息科技有限公司</p>
    <p>上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 沪网文[2012]0068-008 新出网证（沪）字010 沪ICP备08017520号-1</p>
    <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！客服电话：010-59357051</p>
    <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p>
    <div class="safety-box">
        <div class="safety-img dib-wrap">
            <a class="site1" href="http://www.pdxa.cn/Welcome.Asp?Id=3101151112" target="_blank"></a><a class="site2" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20111011181417625" target="_blank"></a><a class="site3" href="http://www.cyberpolice.cn/wfjb" target="_blank"></a><a class="site4" href="https://ss.knet.cn/verifyseal.dll?sn=e12120411010037414000000&amp;pa=090993" target="_blank"></a><a class="site5" href="http://www.shjbzx.cn" target="_blank"></a><a class="site6" href="http://www.12377.cn/node_548446.htm" target="_blank"></a><a class="site7" href="http://www.12377.cn/" target="_blank"></a>
        </div>
        <p>起点正积极配合国家最新发布的《关于办理侵犯知识产权刑事案件适用法律若干问题的意见》，</p>
        <p>采用刑事手段进行严厉打击盗版，目前相关公安机关已经抓获犯罪嫌疑人15名！正告盗版网站立即停止侵权行为！</p>
    </div>
</div></div>
<script src="https://qidian.gtimg.com/lbf/2.0.0/qidian/report.js"></script>
<script src="https://sta.gtimg.com/js/stat.js"></script>
<script>
    $(function () {
        Stat.init();
    });
</script>
</body></html>