<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.zhongdian.author.mapper.AuthorMapper">

<select id="findByAuthorName" parameterType="String" resultType="com.three.zhongdian.author.entity.Author">
    select * from author where authorNname=#{authorNname}
</select>
<select id="selectByAuthorName" parameterType="String" resultType="com.three.zhongdian.book.po.Book">
    select a.*, b.*  from author a,book b where a.aid=b.aid and  a.authorNname=#{authorNname}
</select>
</mapper>